
body {
  width: 80%;
  height: 100%;
  margin: auto;
  text-align: center;
  text-size-adjust: smaller;

}
#featured-property{
p {
  padding-left: 10px;
  padding-right: 10px;
  width: 800px;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}}

div{
  padding-left: 80px;
  padding-right: 80px;
  float: left;
  background-color: red;
  margin: auto;
  text-align: center;
}